<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Phone</title>
</head>
<body>
  <header class="fixed-top">
    <div class=" font-weight-bold">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Phone</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/users">Nuevos Clientes</a>
            <a class="nav-item nav-link active" href="/users/Listado">Listado Clientes</a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="bloque1 ">
      <fieldset>
        <legend>Registro</legend>
        <form class="formulario" action="/users/guardar" method="post">
          <hr>  
          <div class="date_user my-4">
            <label class="w-100" for="name">Name</label>
            <input type="text" name="name">
          </div>
          <div class="date_user my-4">
            <label class="w-100" for="last_name">Last Name</label>
            <input type="text" name="last_name">
          </div>
          <div class="date_user my-4">
            <label class="w-100" for="model">Model</label>
            <input type="text" name="model">
          </div>
          <div class="date_user my-4">
            <label class="w-100 " for="color">Color</label>
            <input type="text" name="color">
          </div>
          <button type="submit" class="btn button1 btn-primary my-2">Save</button>
        </form>
      </fieldset>
    </div>      
  </main>


 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>